<?xml version="1.0"?>
<phpunit
        bootstrap="./tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="WPLogging">
            <directory suffix="Test.php">/var/wplogging/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
